{% extends "home/base.html.twig" %}
{% block content_primary %}

    <div class="well-sm well header-bbdo-h container-fluid"><h5
                class="text-center text-h">{{ 'Organigrama'|e|upper }}</h5></div>

{% endblock %}